nav {
  background-color: $bg-primary;
  color: $text-white;

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .max-width;
  }

  .center-routes {
    > * {
      margin-inline: 10px;
      cursor: pointer;
    }

    #Services {
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .right-routes {
    display: flex;
    gap: 10px;

    > * {
      padding: 10px 20px;
      border-radius: 30px;
      cursor: pointer;
    }

    .outline-btn {
      border: 1px solid $bg-white;
    }
  }

  .menu {
    display: none;
    gap: 5px;
  }
}

@media (max-width: 900px) {
  .menu {
    display: flex !important;
  }

  .right-routes {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .center-routes {
    display: none !important;
  }
}
